@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.list-item {
    width: 100%;
    height: 10vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    margin: 0 0 .8rem;
}

.delete-button {
    width: 7%;
    height: 100%;
    border: none;
    font-size: 3rem;
    background-color: #e9b6ad;
    color: #eee;
    cursor: pointer;
    transition: .5s;
}

.delete-button:hover {
    background-color: #f77d67;
    transition: .5s;
}

.info-section {
    width: 66%;
    padding: 0 0 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.date-section {
    background-color: rgb(235, 235, 235);
    color: #a7a7a7;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    padding: 5px;
}

.created-text {
    font-family: 'Hind Madurai', sans-serif;
    color: #272727;
}

.date {
    font-family: 'Karla', sans-serif;
}

.done-checkbox-container {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done-checkbox {
    width: 80%;
    height: 80%;
    outline: none; 
}

.todo-title {
    font-family: 'Roboto', sans-serif;
    color: rgba(53, 34, 34, 0.856);
}

.priority {
    font-family: 'Hind Madurai', sans-serif;
    color: rgb(77, 77, 77);
}

